<!-- This the gene table corersponding to each CNV. The data will be dinamically added based on provided list of genes that are contain within the CNV. -->
<!-- This is used in each CNV page to create the gene table structure -->
<div class="table-container">
    <table id="gene-info-table" class="display">
        <thead>
            <tr>
                <th>HGNC</th>
                <th>NCBI Gene</th>
                <th>Ensembl</th>
                <th>UniProt</th>
                <th>Description</th>
                <th>OMIM</th>
                <th>ORPHAcode</th>
            </tr>
        </thead>
        <tbody>
            <!-- Rows will be dynamically inserted -->
        </tbody>
    </table>
</div>